@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

a {
  all: unset;
}

.text-outline-black {
  text-shadow: 1px 1px 0px black,
    /* Borda à direita e para baixo */ -1px -1px 0px black,
    /* Borda à esquerda e para cima */ 1px -1px 0px black,
    /* Borda à direita e para cima */ -1px 1px 0px black; /* Borda à esquerda e para baixo */
}
