@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

a {
  all: unset;
}
